: ${XDG_CACHE_HOME:=$HOME/.cache}

hash_source() {
	echo -n "$PWD"
	cat flake.nix flake.lock devshell.nix
}

direnv_layout_dir() {
	local pwd_hash
	pwd_hash=$(basename "$PWD")-$(hash_source | shasum | cut -d ' ' -f 1 | head -c 7)
	echo "$XDG_CACHE_HOME/direnv/layouts/$pwd_hash"
}

watch_file ./devshell.nix
use flake
